.center {
  max-width: 1050px;
  margin: 0 auto;
  padding: 1em;
}
.buttons button {
  background-color: green;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  color: white;
}
.left h1,
.right h1,
.bot h1,
.h1 {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding: 0.2em 0;
  font-weight: 700 !important;

}
.statusBox {
  background-color: #eee;
  padding: 0.8em;
  border-radius: 4px;
  display: grid;
  place-content: center;
  font-size: 16px;
  display: flex;
  gap: 0.3em;
  margin: 1em 0;
  text-transform: uppercase;
}
.statusBox span {
  font-weight: 700;
}
.line {
  display: flex;
  height: 3em;
  flex-direction: column;
  /* gap: .5em; */
}
.bot {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.table {
  margin: 1em 0;
  border: 1px solid rgba(0, 0, 0, 0.549);
}
.liner {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  align-items: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.549);
}
.qtybox {
  border: 1px solid rgba(0, 0, 0, 0.696);
  padding: 0.5em;
}
.line h3{
  font-weight: 700 !important;
}
.introPic {
  /* width: fit-content; */
  /* margin: 0 auto; */
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  /* justify-content: center; */
  padding: 2em;
  text-align: center;
  /* height: 10em; */
}
.topIntro,
.botIntro {
  width: 100px;
  display: grid;
  place-content: center;
}
.introPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: block; */
}
.botIntro {
  width: 100%;
  height: 100%;
}
.topIntro {
  margin: 0 auto;
}
