.search {
  display: flex;
  gap: .5em;
}
.search input {
  padding: 0.5em 2em;
  outline: none;
  padding-left: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
}
.search button {
  padding: 0.4em;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: royalblue;
}
.edit h1 {
  font-size: 25px;
}
.edit {
  padding: 0.5em;
  /* background-color: red; */
  width: 100vw;
}
.form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0.5em 0;
}
.form input {
  padding: 0.5em 2em;
  outline: none;
  padding-left: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: #efefef;
}
.form button {
  padding: 0.4em;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: royalblue;
}
.form label {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .form div {
    width: 70%;
  }
}
